In [52]:
import pandas as pd
import os

Zoom

In [53]:
def create_df_from_zoom(path:str, date:str):
    # print(path)
    with open(path) as file:
        lines = file.readlines()

    lst_date = []
    lst_time = []
    lst_author = []
    lst_cont = []
    time = ""
    author = ""
    
    for line in lines:
        if line.startswith("\t"):
            lst_date.append(date)
            lst_time.append(time)
            lst_author.append(author)
            lst_cont.append(line)
            # print(line)
        else: 
            info = line.split(" ")
            author = info[2]
            time = info[0]

    df = pd.DataFrame({
        "Date":lst_date,
        "Time":lst_time,
        "Author":lst_author,
        "Content":lst_cont
        })
    # print(zoom.shape)
    # zoom.head()
    return df

In [54]:
cwd = os.getcwd()
data_path = cwd + "/" + "data/Zoom"
children = os.listdir(data_path)
# print(children)
lst_zoom = []
for child in children:
    # print(child)
    date = child.split(" ")[0]
    # print(date)
    file = os.listdir(data_path + "/" + child)[0]
    # print(file)
    path = data_path + "/" + child + "/" + file

    # print(path)
    lst_zoom.append(create_df_from_zoom(path, date))

len(lst_zoom)
lst_zoom[0]

,Date,Time,Author,Content
0,2022-11-10,15:31:08,AI_15_ì„ ìš°ì¤€,\tã…‹ã…‹ã…‹ê°ì‚¬í•©ë‹ˆë‹¤\n
1,2022-11-10,15:31:22,AI_15_ì „ì§€ì›,\tì¤€ë‹˜ ë§ê³ ê³µì£¼ë‹˜ ë§í•œê±´ë°..\n
2,2022-11-10,15:31:23,AI_15_ì„ ìš°ì¤€,\tì•„ ì£¼ë‹˜ì¸ê°€ìš”?\n
3,2022-11-10,15:31:26,AI_15_ì „ì§€ì›,\të°”ë³´..\n
4,2022-11-10,15:31:26,AI_15_ë°°í•œì„,\tã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹\n
...,...,...,...,...
424,2022-11-10,17:16:16,AI_15_ì˜¤ì•„ë¦„,\tê°ì‚¬í•©ë‹ˆë‹¤!\n
425,2022-11-10,17:16:18,AI_15_ì´ìƒí•„,\t3ì€... ì¢€ ë¬´ë¦¬ì¸ê²ƒ ê°™ì•˜ì§€ë§Œ... ì§€ê¸ˆ ëŠë‚Œìƒìœ¼ë¡œëŠ”.. 3 ì¸ê²ƒ ê°™ì€ ëŠë‚Œ!...
426,2022-11-10,17:16:31,AI_15_ì´ìƒí•„,\tì •ë§ ê°ì‚¬í•©ë‹ˆë‹¤ ì½”ì¹˜ë‹˜!!!!\n
427,2022-11-10,17:16:35,AI_15_ì´ì§„ìš°,\tì € ì£„ì†¡í•œë° ë¯¸ë‹ˆë°°ì¹˜ ë‹¤ì‹œ í•œ ë²ˆë§Œ ì•Œë ¤ì£¼ì‹¤ ìˆ˜ ìˆì„ê¹Œìš”?!\n
428,2022-11-10,17:16:37,AI_15_ìœ¤ì¢…ë¥,\tsgdë‘ gdì—ì„œ cpuì™€ gpuë¡œ ì¸í•œ ë³‘ë ¬ ê´€ê³„ ë‹¤ì‹œí•œë²ˆ ë“£ê³ ì‹¶ì–´ìš”\n

In [55]:
df_merge = pd.concat(lst_zoom)
print(df_merge.shape)
df_merge.head()

(19262, 4)

         Date      Time     Author               Content
0  2022-11-10  15:31:08  AI_15_ì„ ìš°ì¤€          \tã…‹ã…‹ã…‹ê°ì‚¬í•©ë‹ˆë‹¤\n
1  2022-11-10  15:31:22  AI_15_ì „ì§€ì›  \tì¤€ë‹˜ ë§ê³  ê³µì£¼ë‹˜ ë§í•œê±´ë°..\n
2  2022-11-10  15:31:23  AI_15_ì„ ìš°ì¤€          \tì•„ ì£¼ë‹˜ì¸ê°€ìš”?\n
3  2022-11-10  15:31:26  AI_15_ì „ì§€ì›              \të°”ë³´..\n
4  2022-11-10  15:31:26  AI_15_ë°°í•œì„           \tã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹\n

In [56]:
def preprocessing_zoom(df):
    df_copy = df.copy()
    # df_copy["Author"] = df_copy["Author"].str[:-5]
    # list_date = df_copy["Date"].str.split(" ")
    
    # df_copy["Date"] = list_date.str.get(0)
    df_copy["Date"] = pd.to_datetime(df_copy["Date"])
    # df_copy["Time"] = list_date.str.get(1)
    df_copy["Content"] = df_copy["Content"].str.replace("\t","")
    df_copy["Content"] = df_copy["Content"].str.replace("\n","")
    df_copy = df_copy[["Date","Time","Author","Content"]]
    df_copy.sort_values(by=["Date","Time"], inplace=True)
    df_copy = df_copy.reset_index(drop=True)
    return df_copy

In [57]:
df_zoom = preprocessing_zoom(df_merge)
print(df_zoom.shape)
df_zoom.head()

(19262, 4)

        Date      Time     Author    Content
0 2022-10-17  11:30:24  AI_15_ì´ìƒí•„  ì•ˆë…•í•˜ì„¸ìš”~^-^
1 2022-10-17  11:30:25  AI_15_ì „í˜„ì•„     ì•ˆë…•í•˜ì„¸ìš”~
2 2022-10-17  11:30:28  AI_15_ìœ¤ì¢…ë¥       ì•ˆë…•í•˜ì„¸ìš”
3 2022-10-17  11:30:30  AI_15_ì´ì„¸ìœ¤     ì•ˆë…•í•˜ì„¸ìš”~
4 2022-10-17  11:30:33   AI_15_ë°•ë‚œ      ì•ˆë…•í•˜ì„¸ìš”

In [58]:
df_zoom["Author"].value_counts()

AI_15_ì „ì§€ì›    2800
AI_15_ì´ìƒí•„    2310
AI_15_ì´ì§„ìš°    1057
AI_15_ìœ¤ì¢…ë¥      670
AI_15_ì´ì„¸ìœ¤     654
             ...
ê°•íƒœë‘             3
AI_15_ê¹€ì¬í¬       2
AI_15_ìµœì§€ì„±       1
Code_ì±„ì„ ì•„        1
ai_15_ìœ¤í˜„ìš±       1
Name: Author, Length: 77, dtype: int64

In [59]:
df_zoom_g1 = df_zoom[df_zoom["Author"] == "AI_15_ì „ì§€ì›"]
df_zoom_sf = df_zoom[df_zoom["Author"] == "AI_15_ì´ìƒí•„"]
df_zoom_sf.head()

         Date      Time     Author                       Content
0  2022-10-17  11:30:24  AI_15_ì´ìƒí•„                     ì•ˆë…•í•˜ì„¸ìš”~^-^
12 2022-10-17  11:31:31  AI_15_ì´ìƒí•„                        ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹
21 2022-10-17  11:31:54  AI_15_ì´ìƒí•„  ì—„ì²­ ì¬ë¯¸ìˆìœ¼ì…¨ë‚˜ ë³´ë„¤ìš”~ ^-^ ë¿Œë“¯ í•˜ì…¨ê² ì–´ìš”~
26 2022-10-17  11:31:55  AI_15_ì´ìƒí•„                             2
38 2022-10-17  11:32:06  AI_15_ì´ìƒí•„                            ë„¤~

In [60]:
df_zoom.to_csv("data/clean/zoom_total.csv")
df_zoom_g1.to_csv("data/clean/zoom_g1.csv")
df_zoom_sf.to_csv("data/clean/zoom_sf.csv")

Discord

In [61]:
room_1 = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ê³µë¶€ë°©1.csv")
room_2 = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ê³µë¶€ë°©2.csv")
room_3 = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ê³µë¶€ë°©3.csv")
room_4 = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ê³µë¶€ë°©4.csv")
room_5 = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ê³µë¶€ë°©5.csv")
room_cafe = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ì¹´ê³µë°©.csv")
room_rest = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - íœ´ì‹ë°©.csv")
room_silent = pd.read_csv("data/Discord/AI_15_ëª¨ê°ì½” - ìŒì„± ì±„ë„ - ë¬´ì†ŒìŒì‹¤.csv")
room_1.head(10)

,AuthorID,Author,Date,Content,Attachments,Reactions
0,1001000083032117288,ë¼ë€¨#9911,23-Aug-22 12:35 PM,ê¸°ì›ƒê±°ë¦¬ëŸ¬ì™”ëŠ”ë°,NaN,NaN
1,1001000083032117288,ë¼ë€¨#9911,23-Aug-22 12:35 PM,ì•„ë¬´ê²ƒë„ ì•ˆëœ¨ë„¹,NaN,NaN
2,1001000083032117288,ë¼ë€¨#9911,23-Aug-22 12:35 PM,ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹,NaN,NaN
3,398107289812336654,ë‚˜ê·¸ë„¤#3975,23-Aug-22 12:35 PM,ì—¥!,NaN,NaN
4,381848856955977742,ë‚œë°¥#8055,23-Aug-22 09:07 PM,ìƒí•„ë‹˜ ë§ˆì´í¬ë‘ í—¤ë“œí° ë„ì…¨ëŠ”ë° ì¼ë¶€ëŸ¬ ë„ì‹ ê±° ë§ë‚˜ìš”?,NaN,NaN
5,495128528581296128,ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ#7516,23-Aug-22 09:09 PM,ì•„,NaN,NaN
6,495128528581296128,ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ#7516,23-Aug-22 09:09 PM,ì•„ì•„ì•„,NaN,NaN
7,554397309346119682,AI_15_ì´ìƒí•„#0504,23-Aug-22 09:09 PM,ì•„,NaN,NaN
8,554397309346119682,AI_15_ì´ìƒí•„#0504,23-Aug-22 09:09 PM,ë„¤ .. ^^,NaN,NaN
9,554397309346119682,AI_15_ì´ìƒí•„#0504,23-Aug-22 09:09 PM,ì™€~~~~~~,NaN,NaN

In [62]:
print(room_1.shape, room_2.shape, room_3.shape, room_4.shape, room_5.shape, room_cafe.shape, room_rest.shape, room_silent.shape)

(14136, 6) (5342, 6) (28633, 6) (19782, 6) (22723, 6) (25900, 6) (27494, 6) (879, 6)

In [63]:
df_merge = pd.concat([room_1,room_2,room_3,room_4,room_5,room_cafe,room_rest,room_silent])
df_merge.shape

(144889, 6)

In [64]:
# df_merge["Date"].unique()
df_merge["Author"].value_counts()

ë¼ë€¨#9911              19130
Journey#3889         17060
ìëª½ì§œë¨¸ê±°#2776           14909
ê¹€ë™íŒ”#6484             13948
í¬ë£¨ì ¸ì™€ì¸#9315           10728
ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ#7516         10625
ë‚˜ê·¸ë„¤#3975              8860
ë‚œë°¥#8055               7932
AI_15_ì „í˜„ì•„#0019        4997
AI_15_ì´íƒœì„­#8329        4985
AI_15_ì´ìƒí•„#0504        4386
AI_15_ì‹ í¬ìŠ¹#7484        3685
AI_15_ì´ìƒˆë²½#8548        3570
AI_15_ê¹€ìˆ˜ì˜#7352        3094
AI_15_ì´ë„ì—°#1456        2682
____#8216             2329
Vexera#8487           2170
heeeeho#4687          1821
AI_15_ìœ¤ì¢…ë¥ #4889        1450
AI_15_ì´ì§„ìš°#7960         910
toraise#9784           769
Jo Jun#1315            730
eros_n#3457            675
AI_15_ì†¡ìœ¤ì£¼#7330         619
FredBoatâ™ªâ™ª#7284        452
AI_15_ê°•íƒœë‘#6363         322
í¥ì´ë‚œë‹¤í¥ì´ë‚˜#4643           304
AI_15_ì„ ìš°ì¤€#3528         282
Sunyoung#5151          247
Kong#9789              244
Ai_15_ìµœì¤€ì˜#5872         148
AI_15_ìœ¤ì˜ˆì§€#6533         124
AI_15_ì„œê´€í›ˆ#1720         120
Al_15_ì¥ë¬¸ì •#4954         112
ì‹ ë™íœ˜#0051                91
AI_15_ë‚¨ì—°ìš°#2067          72
ë…¸ë˜í•˜ëŠ”í•˜ë¦¬ë³´#7558            63
arden#3691              55
AI_15_ì´ì„¸ìœ¤#8129          50
AI_15_ë°•ì¤€ì˜#6791          33
AI_15_ê¹€íƒœìˆ˜#8550          20
baek#2478               18
ê¹€ì„±ì§„#6401                16
ë‘ë¹„ë‘#5378                16
AI_15_ì†¡í˜„ì„#5600          11
AI_15_ê¹€ë™ê·œ(B)#6700       10
AI_15_ì¡°ìœ¤ì„±#8363           9
ì¡°ì¡°#2330                  4
AI_15_ì„ì² ë¯¼#2382           2
Name: Author, dtype: int64

In [65]:
def preprocessing(df):
    df_copy = df.copy()
    df_copy["Author"] = df_copy["Author"].str[:-5]
    list_date = df_copy["Date"].str.split(" ")
    
    df_copy["Date"] = list_date.str.get(0)
    df_copy["Date"] = pd.to_datetime(df_copy["Date"])
    df_copy["Time"] = list_date.str.get(1)
    df_copy["Content"] = df_copy["Content"].str.replace("\t","")
    df_copy = df_copy[["Date","Time","Author","Content"]]
    df_copy.sort_values(by=["Date","Time"], inplace=True)
    df_copy = df_copy.reset_index(drop=True)
    return df_copy

In [66]:
df_dc = preprocessing(df_merge)
print(df_dc.shape)
df_dc.head()

(144889, 4)

        Date   Time   Author     Content
0 2022-08-22  10:03       ë¼ë€¨          ì™€~
1 2022-08-22  10:03  ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ       ã…‹ã…‹ã…‹ã…‹ã…‹
2 2022-08-22  10:03  ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ       ê°œì¸ ë°©ì†¡
3 2022-08-22  10:03       ë¼ë€¨  ì˜¤ëŠ˜ ë°¥ ë¨¸ë¨¹ì—ˆì–´ìš”
4 2022-08-22  10:03  ìš°ë¦¬ë™ë„¤ê¼¬ê¼¬ë§ˆ      ë‹¤ë“¤ ì—¬ê¸°ì—

In [67]:
df_dc_sf = df_dc[df_dc.Author == "AI_15_ì´ìƒí•„"]
df_dc_sf.head()

          Date   Time     Author                        Content
50  2022-08-22  10:10  AI_15_ì´ìƒí•„  doit()ì€ ì–´ë–¤ ê¸°ëŠ¥ì„ í•˜ëŠ” ë©”ì†Œë“œ ì¸ê°€ìš”? ^^
56  2022-08-22  10:11  AI_15_ì´ìƒí•„               ë„µ~ ^^ ê°ì‚¬í•©ë‹ˆë‹¤~~^0^
72  2022-08-22  10:11  AI_15_ì´ìƒí•„                              ğŸ‘
80  2022-08-22  10:11  AI_15_ì´ìƒí•„                             êµ¿!
206 2022-08-22  10:24  AI_15_ì´ìƒí•„                          ì²œì²œíˆ~~

In [68]:
df_dc_g1 = df_dc[df_dc.Author == "Journey"]
df_dc_g1.head()

           Date   Time   Author           Content
3915 2022-08-26  01:00  Journey       ì•— ê°€ì¡±ë“¤ ì˜ì‹œê°„ì´ë¼
3916 2022-08-26  01:00  Journey           ì´ì œ ì±„íŒ…ë§Œí•¨
3918 2022-08-26  01:00  Journey  ì ˆëŒ€ì•ˆì§ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹
3919 2022-08-26  01:00  Journey        ë‹‰ê°’ í•˜ì‹œëŠ”ì§€ í™•ì¸
3920 2022-08-26  01:01  Journey      ì˜¤ ê±´í›„ë‹˜ ë¹„ê²½ë“¤ì–´ê°„ë‹¤

In [69]:
df_dc_rg = df_dc[df_dc.Author == "ë¼ë€¨"]
df_dc_rg.head()

         Date   Time Author     Content
0  2022-08-22  10:03     ë¼ë€¨          ì™€~
3  2022-08-22  10:03     ë¼ë€¨  ì˜¤ëŠ˜ ë°¥ ë¨¸ë¨¹ì—ˆì–´ìš”
9  2022-08-22  10:04     ë¼ë€¨      ì˜¤ë¥¸ìª½ ë°‘ì—
10 2022-08-22  10:04     ë¼ë€¨        ë³¼ë¥¨ì¡°ì ˆ
12 2022-08-22  10:04     ë¼ë€¨           ì—¥

In [70]:
df_dc.to_csv("data/clean/discord_total.csv")
df_dc_g1.to_csv("data/clean/discord_g1.csv")
df_dc_sf.to_csv("data/clean/discord_sf.csv")
df_dc_rg.to_csv("data/clean/discord_rg.csv")